body
	include partials/topnav.pug
	include partials/slideshow.pug
	br
	br
	br
	include partials/intro.pug
	.gradient#brownGrad
	include partials/ourWork.pug
	.gradient#brownGrad
	include partials/gettingInvolved.pug
	br
	br
	script(src="/javascripts/style.js")