section.gettingInvolved#gettingInvolved
	.widthRestriction
		h1 Getting involved
		.row 
			.col-lg-6
				h2 Join us
				p [Fill the form] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam, augue augue scelerisque massa, vitae rutrum nunc lectus vitae mauris.
				a(href="https://docs.google.com/forms/d/e/1FAIpQLSdbgJPgeXutLHZj-BAfVVVq94vm0DYsRSUT1t5N7x5ShTXiSA/viewform?usp=sf_link")
					button Volunteer form
				br 
				br
				h2 Getting in touch
				a(href="mailto:wellfurfoundation@gmail.com") 
					button 	✉️ Email
				a(href="mailto:wellfurfoundation@gmail.com") 
					button 	☎️ Phone
				a(href="https://www.instagram.com/wellfur.foundation/") 
					button 	📷 Instagram
				a(href="https://www.facebook.com/Wellfur-102416394827588/") 
					button 	📖 Facebook
				br
				br
				p.bold#reachUs To report a stray wound 
				ul.contact
					li
						p 
							| Sejal Goel, Co-founder
							br
							a(href="tel:+91-9582216916") ☎️ +91 9582216916 
							a(href="mailto:sejalgoel5@gmail.com") ✉️ sejalgoel5@gmail.com
					li
						p 
							| Madhav Gupta, Co-founder
							br
							a(href="tel:+91-8826860450") ☎️ +91 8826860450
							a(href="mailto:madhav2711@gmail.com") ✉️ madhav2711@gmail.com
					li
						p 
							| Lavanya Kaushik, Co-founder
							br
							a(href="tel:+91-8800395153") ☎️ +91 8800395153
							a(href="mailto:lavanyakaushik27@gmail.com") ✉️ lavanyakaushik27@gmail.com


			.col-lg-6#donate
				h2 Donations
				h3 Collaborations
				ul 
					li We have partnered with Kunchals, GK-1to provide strays with the life they deserve.For every donation made by you, you will receive a ₹100 discount coupon to shop at Kunchals.
					li Utilising your privilege to help the ones who can't voice their concerns is the first step towards a better world.
					li If you would like to know where your donation is being used, please send us a DM on instagram or shoot us an email and we'll be happy to share the details with you.
				h3 Donations portal
				p Sponsor a dog’s meal for a month for just Rs.1,000 and a month's meals for 5 dogs at Rs. 5,000 throught the donation portal below.
				a(href="https://docs.google.com/forms/d/e/1FAIpQLSdbgJPgeXutLHZj-BAfVVVq94vm0DYsRSUT1t5N7x5ShTXiSA/viewform?usp=sf_link")
					button PayTM Donation Portal
				.gradient#brownGrad
				p.center
					| Made with ❤️ by 
					a(href="https://krishgoel.herokuapp.com")#K KrishSkywalker