section.intro
	.widthRestriction
		.row
			.col-lg-6
				img(src="/images/introDog.jpg")
			.col-lg-6
				h1
					| Welcome to Wellfur
				p
					| Wellfur is an organization working towards helping street animals by feeding them and providing them with medical care and attention.
					br
					br
					| [We need more content here] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam, augue augue scelerisque massa, vitae rutrum nunc lectus vitae mauris. In elementum eros et iaculis condimentum. Curabitur sit amet lobortis nisi. Nulla ac nibh congue, vulputate nunc sit amet, convallis nunc. Suspendisse in quam ut quam molestie rhoncus. Fusce nec diam ac metus dictum volutpat. Ut interdum orci vitae.