section.ourWork#ourWork
	.widthRestriction
		h1 Our work
		h2 Meet our family
		.row 
			.col-lg-3
				.card
					img(src='/images/meetFam/chunky.JPG')
					.widthRestriction
						h2 Chunky
						p Chunky is super cool Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam.
			.col-lg-3
				.card
					img(src='/images/meetFam/zeus.jpg')
					.widthRestriction
						h2 Chunky
						p Chunky is super cool Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam.
			.col-lg-3
				.card
					img(src='/images/meetFam/chunky.JPG')
					.widthRestriction
						h2 Chunky
						p Chunky is super cool Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam.
		br
		br
		h2 Adoption drive
		.row
			.col-lg-6
				img(src='/images/adoptionDrive.jpg')
			.col-lg-6
				p 
					| We have helped with the adoption of over 10 animals through our instagram page alone.
					br
					br
					| [We need more content here] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam, augue augue scelerisque massa, vitae rutrum nunc lectus vitae mauris. In elementum eros et iaculis condimentum. Curabitur sit amet lobortis nisi. Nulla ac nibh congue, vulputate nunc sit amet, convallis nunc. Suspendisse in quam ut quam molestie rhoncus. Fusce nec diam ac metus dictum volutpat. Ut interdum orci vitae.

				a(href="#") 
					button Adopt a dog
		br
		br
		h2 Feeding drive
		p 
			| Feeding a stray is not as costly and time-consuming as people make it out to be. All you need to do is shop for lots of love, affection and care (and some actual food).
			br
			| We feed over 20 dogs - bread, milk, paneer and dog food everyday.

		.row.feedingDrive
			.col-lg-3
				video(autoplay controls src="/images/feedingDrive/feedingDrive1.MOV")
				//- video(autoplay controls src="/images/feedingDrive/feedingDrive5.MOV")
			.col-lg-3
				video(autoplay controls src="/images/feedingDrive/feedingDrive2.mov")
			.col-lg-3
				img(autoplay controls src="/images/feedingDrive/feedingDrive3.JPG")
			.col-lg-3
				img(autoplay controls src="/images/feedingDrive/feedingDrive4.jpg")
		br
		br
		h2 Success stories
		.row
			.col-lg-4
				h3 Mark Zuckerberg
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam, augue augue scelerisque massa, vitae rutrum nunc lectus vitae mauris.
			.col-lg-4
				h3 Elon Musk
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam, augue augue scelerisque massa, vitae rutrum nunc lectus vitae mauris.
			.col-lg-4
				h3 Bill Gates
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, nisl non dignissim aliquam, augue augue scelerisque massa, vitae rutrum nunc lectus vitae mauris.