section.slideshow#slideshow
	.slide#slide1
		.widthRestriction
			h1 Catchy caption 1 goes here!
			h2 Insert a tagline here pls
	.slide#slide2
		.widthRestriction
			h1 Catchy caption 2 goes here!
			h2 Insert a tagline here pls
	.slide#slide3
		.widthRestriction
			h1 Catchy caption 3 goes here!
			h2 Insert a tagline here pls